@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}
/* Header */
 header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(151deg, #03a3b3 42%, transparent 40%);
}

.profile-img-name {
  background-image: url(./Images/pexels-yigithan02-765063\(1\)\(1\).jpg);
  background-size: cover;
  background-position: center;
  width: 90%;
  height: 640px;
  margin-top: 6%;
  display: flex;
  align-items: end;
  color: white;
  font-size: 70px;
  font-family: "Playfair Display", serif;
  padding-left: 15px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.about {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 44px;
  font-weight: 400;
}

.about-text {
font-family: "Roboto", sans-serif;
font-size: 21px;
margin-left: 18px;
margin-right: 18px;
margin-top: 25px;
font-weight: 380;
line-height: 1.5;
}

.header-icons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
}

.linkdin-link,
.github-link {
  text-decoration: none;
  color: black;
  font-size: 30px;
}

/* Section */

h2 {
  margin-top: 80px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: 500;
}

.project {
  margin-bottom: 50px;
}

.projects-container {
  display: flex;
  flex-direction: column;
}

.project-img {
  height: 208px;
  display: flex;
  justify-content: center;
}

.project-image {
  height: 100%;
  width: 356px;
}

.project-livepreview,
.project-github {
  height: 20px;
  width: 20px;
}

.project-github {
  margin-right: 5px;
}

.project-name-icons {
  display: flex;
  justify-content: space-between;
}

.project-info {
  display: flex;
  flex-direction: column;
  background-color: #fdfdfd;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.3);
  margin-left: 16px;
  margin-right: 16px;
  height: 125px;
  padding: 20px;
}

.project-name {
  margin-left: 15px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.project-description {
  margin-top: 10px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

/* Footer */

footer {
  width: 100vw;
  background-color: #03a3b3;
  color: white;
}

.contact-phrase {
  font-family: "Roboto", sans-serif;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: 500;
}

.address-info,
.contact-number,
.contact-email {
  font-family: "Playfair Display", serif;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 20px;
  font-weight: 400;
}

.address-info {
  margin-bottom: 20px;
}

.contact-email {
  margin-bottom: 15px;
}

.contact-linkdin-link,
.contact-github-link {
  text-decoration: none;
  color: black;
  font-size: 35px;
}

.contact-links {
  display: flex;
  justify-content: space-evenly;
}

.contact-picture {
  width: 100vw;
  height: 400px;
  display: block;
  margin: 0;
}

/* Tablet view */

@media (min-width: 768px) and (max-width: 1023px) {
  header {
    display: flex;
    flex-direction: row;
  }

  .profile-img-name {
    width: 50vw;
    height: 545px;
  }

  .about {
    margin-top: 145px;
  }

  .about-section {
    display: flex;
    flex-direction: column;
    width: 50vw;
  }

  .header-icons {
    display: none;
  }

  h2 {
    justify-content: start;
    margin-left: 1rem;
  }

  .projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  footer {
    display: flex;
  }

  .footer-left {
    width: 50%;
  }

  .footer-right {
    width: 50%;
  }

  .contact-picture {
    width: 350px;
    height: 100%;
  }
}  

/*PC/Laptop View*/

@media (min-width: 1024px) {
  header {
    display: flex;
    flex-direction: row;
    padding: 5rem;
    background: linear-gradient(173deg, #03a3b3 77%, transparent 40%);
  }

  .profile-img-name {
    margin-top: 0;
    margin-right: 50px;
  }

  .about-section {
    background-color: white;
  }

  .about {
    justify-content: start;
    margin-left: 18px;
  }

  .header-icons {
    justify-content: end;
    gap: 2rem;
    margin-right: 1rem;
  }

  .projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .contact-picture {
    width: fit-content;
  }

  .second-h2 {
    justify-content: start;
    margin-left: 11px;
  }
}
